### IMPORT CSV

In [1]:
%pwd

'C:\\GitHub-Projects\\DataAnalysis\\AnalysisWithPandas\\DataAnalysis'

## Here are the files in DataSet

In [2]:
%cd ../DataSet/
%ls

C:\GitHub-Projects\DataAnalysis\AnalysisWithPandas\DataSet
 Volume in drive C is Windows
 Volume Serial Number is BC94-D697

 Directory of C:\GitHub-Projects\DataAnalysis\AnalysisWithPandas\DataSet

2023-01-02  20:46    <DIR>          .
2023-01-02  20:18    <DIR>          ..
2022-12-28  19:52            40,832 pokemon_data.csv
2022-12-28  21:25            59,642 pokemon_data.xlsx
2023-01-02  20:45             1,781 sample1.csv
2023-01-01  21:45            41,984 sample1.xls
2023-01-02  20:46             1,870 sample2.csv
2023-01-01  21:45            14,352 sample2.xlsx
               6 File(s)        160,461 bytes
               2 Dir(s)  475,261,358,080 bytes free

In [3]:
file_name = input("Enter File Name (sample1.csv) NO WHITE_SPACE!: ")

Enter File Name (sample1.csv) NO WHITE_SPACE!: sample1.csv

In [4]:
file_path = "./../DataSet/" + file_name

In [5]:
print("This is the file path ->\t" + file_path)

This is the file path ->	./../DataSet/sample1.csv

In [6]:
import pandas as pd

In [9]:
data = pd.read_csv(file_path)

In [8]:
data.head()

,"[주의사항] (* 필수항목) (1) 양식은 조정하시면 안됩니다. (조정시 오류발생, 칸 크기는 조정가능) (2) 작성 시 다음 줄로(Alt+Enter) 넘기지 마시고, 1줄로 입력해주시기 바랍니다. [문서가 정상적으로 생성되지 않습니다] (3) 구매물품 통화단위는 ""총금액 통화코드""로 자동저장됩니다. 숫자 입력후 통화단위 변경은 작성 화면의 ""총금액 통화코드""를 변경해주시기 바랍니다. (4)기타 사항 셀 메모 참고해주시기 바랍니다.\t\t\t",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,구매물품목록,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,*HS코드(10자리),*품명,*단가,*단위수량,*단위수량단위CODE,*수량,*수량단위CODE,*금액,*구매일자(숫자만)
2,2710197120,Engine oil for Automotive SN 5W-40 (200),361.56,1,EA,2,EA,723.12,20221115
3,2710197120,Engine oil for Automotive SN 10W-40 (4x4),29.27,1,EA,300,EA,8781,20221115
4,2710197120,Engine oil for Automotive SN 10W-40 (200),344.49,1,EA,4,EA,1377.96,20221115