### IMPORT CSV

In [40]:
%pwd

'C:\\GitHub-Projects\\DataAnalysis\\AnalysisWithPandas\\DataSet'

## Here are the files in DataSet

In [41]:
%cd ../DataSet/
%ls

C:\GitHub-Projects\DataAnalysis\AnalysisWithPandas\DataSet
 Volume in drive C is Windows
 Volume Serial Number is BC94-D697

 Directory of C:\GitHub-Projects\DataAnalysis\AnalysisWithPandas\DataSet

2023-01-03  00:30    <DIR>          .
2023-01-02  20:18    <DIR>          ..
2023-01-03  00:30             1,349 modified.csv
2022-12-28  19:52            40,832 pokemon_data.csv
2022-12-28  21:25            59,642 pokemon_data.xlsx
2023-01-02  21:29             1,217 sample1.csv
2023-01-01  21:45            41,984 sample1.xls
2023-01-02  21:30             1,873 sample2.csv
2023-01-01  21:45            14,352 sample2.xlsx
               7 File(s)        161,249 bytes
               2 Dir(s)  475,215,450,112 bytes free

In [42]:
file_name = input("Enter File Name (sample1.csv) NO WHITE_SPACE!: ")

Enter File Name (sample1.csv) NO WHITE_SPACE!: sample1.csv

In [43]:
file_path = "./../DataSet/" + file_name

In [44]:
print("This is the file path ->\t" + file_path)

This is the file path ->	./../DataSet/sample1.csv

In [45]:
import pandas as pd

In [46]:
data = pd.read_csv(file_path,skiprows=[0])

In [47]:
data.head()

,*HS코드(10자리),*품명,*단가,*단위수량,*단위수량단위CODE,*수량,*수량단위CODE,*금액,*구매일자(숫자만)
0,2710197120,Engine oil for Automotive SN 5W-40 (200),361.56,1,EA,2,EA,723.12,20221115
1,2710197120,Engine oil for Automotive SN 10W-40 (4x4),29.27,1,EA,300,EA,8781.00,20221115
2,2710197120,Engine oil for Automotive SN 10W-40 (200),344.49,1,EA,4,EA,1377.96,20221115
3,2710197120,Engine oil for Automotive ECO C3 5W-30 (5x3),36.84,1,EA,16,EA,589.44,20221115
4,2710197230,Gear oil HD 85W-140 (200),427.04,1,EA,5,EA,2135.20,20221115

## Item Names

In [48]:
data.loc[:,"*품명"]

0        Engine oil for Automotive  SN 5W-40 (200)
1        Engine oil for Automotive SN 10W-40 (4x4)
2        Engine oil for Automotive SN 10W-40 (200)
3     Engine oil for Automotive ECO C3 5W-30 (5x3)
4                        Gear oil HD 85W-140 (200)
5                          Gear oil HD 80W-90 (20)
6                        Gear oil HD 80W-90 (1x12)
7              Auto transmission oil ATF VI (1x12)
8              Auto transmission oil ATF III (200)
9             Auto transmission oil ATF III (1x12)
10     Engine oil for Automotive MA2 10W-40 (1x12)
11              Auto transmission oil ATF VI (200)
12                 HYDRAULIC FLUID AW 68 (200L DM)
Name: *품명, dtype: object

## Total Sales

In [49]:
data["Total Sale for Item"] = data["*단위수량"] * data["*수량"] * data["*금액"]
data.head()

,*HS코드(10자리),*품명,*단가,*단위수량,*단위수량단위CODE,*수량,*수량단위CODE,*금액,*구매일자(숫자만),Total Sale for Item
0,2710197120,Engine oil for Automotive SN 5W-40 (200),361.56,1,EA,2,EA,723.12,20221115,1446.24
1,2710197120,Engine oil for Automotive SN 10W-40 (4x4),29.27,1,EA,300,EA,8781.00,20221115,2634300.00
2,2710197120,Engine oil for Automotive SN 10W-40 (200),344.49,1,EA,4,EA,1377.96,20221115,5511.84
3,2710197120,Engine oil for Automotive ECO C3 5W-30 (5x3),36.84,1,EA,16,EA,589.44,20221115,9431.04
4,2710197230,Gear oil HD 85W-140 (200),427.04,1,EA,5,EA,2135.20,20221115,10676.00

### Saving to DataSet

In [50]:
name = input("Enter new name for dataset (No Spaces): ")

Enter new name for dataset (No Spaces): sales1

In [51]:
data.to_csv('.//..//DataSet//'+ name + ".csv")