### IMPORT CSV

In [6]:
%pwd

'C:\\GitHub-Projects\\DataAnalysis\\AnalysisWithPandas\\DataAnalysis'

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("./../DataSet/sample1.csv")

In [9]:
data.head()

,"[주의사항] (* 필수항목) (1) 양식은 조정하시면 안됩니다. (조정시 오류발생, 칸 크기는 조정가능) (2) 작성 시 다음 줄로(Alt+Enter) 넘기지 마시고, 1줄로 입력해주시기 바랍니다. [문서가 정상적으로 생성되지 않습니다] (3) 구매물품 통화단위는 ""총금액 통화코드""로 자동저장됩니다. 숫자 입력후 통화단위 변경은 작성 화면의 ""총금액 통화코드""를 변경해주시기 바랍니다. (4)기타 사항 셀 메모 참고해주시기 바랍니다.\t\t\t",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,구매물품목록,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,*HS코드(10자리),*품명,*단가,*단위수량,*단위수량단위CODE,*수량,*수량단위CODE,*금액,*구매일자(숫자만)
2,2710197120,Engine oil for Automotive SN 5W-40 (200),361.56,1,EA,2,EA,723.12,20221115
3,2710197120,Engine oil for Automotive SN 10W-40 (4x4),29.27,1,EA,300,EA,8781,20221115
4,2710197120,Engine oil for Automotive SN 10W-40 (200),344.49,1,EA,4,EA,1377.96,20221115