### IMPORT CSV

In [1]:
%pwd

'C:\\GitHub-Projects\\DataAnalysis\\AnalysisWithPandas\\DataAnalysis'

## Here are the files in DataSet

In [2]:
%cd ../DataSet/
%ls

C:\GitHub-Projects\DataAnalysis\AnalysisWithPandas\DataSet
 Volume in drive C is Windows
 Volume Serial Number is BC94-D697

 Directory of C:\GitHub-Projects\DataAnalysis\AnalysisWithPandas\DataSet

2023-01-02  20:46    <DIR>          .
2023-01-02  20:18    <DIR>          ..
2022-12-28  19:52            40,832 pokemon_data.csv
2022-12-28  21:25            59,642 pokemon_data.xlsx
2023-01-02  20:45             1,781 sample1.csv
2023-01-01  21:45            41,984 sample1.xls
2023-01-02  20:46             1,870 sample2.csv
2023-01-01  21:45            14,352 sample2.xlsx
               6 File(s)        160,461 bytes
               2 Dir(s)  475,266,662,400 bytes free

In [3]:
file_name = input("Enter File Name (sample1.csv) NO WHITE_SPACE!: ")

Enter File Name (sample1.csv) NO WHITE_SPACE!: pokemon_data.csv

In [4]:
file_path = "./../DataSet/" + file_name

In [5]:
print("This is the file path ->\t" + file_path)

This is the file path ->	./../DataSet/pokemon_data.csv

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv(file_path)

In [8]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False