## Loading Data Into Pandas

In [41]:
import pandas as pd

df = pd.read_csv('./../DataSet/pokemon_data.csv')

## Reading First 3 Lines of data

In [36]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

## Reading last 3 lines of data

In [37]:
df.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Reading .xlsx files

In [1]:
df2 = pd.read_excel('./../DataSet/pokemon_data.xlsx')
df2.head()

NameError: name 'pd' is not defined