## Saving out Data (Exporting into Desired Format)

In [4]:
import pandas as pd
df = pd.read_csv('./../DataSet/pokemon_data.csv')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [5]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
cols = list(df.columns.values) # cols are list of column names
#df = df[['Name'] + ['Type1'] + ['Type2'] + ['Generation'] + ['Legendary'] + [cols[4:10]] + ['Total']]
df = df[cols[0:4] + [cols[-2]] + [cols[-3]] + cols[4:10] + [cols[-1]]]
df

,#,Name,Type 1,Type 2,Legendary,Generation,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total
0,1,Bulbasaur,Grass,Poison,False,1,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,False,1,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,False,1,80,82,83,100,100,80,525
3,3,VenusaurMega Venusaur,Grass,Poison,False,1,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,False,1,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,6,50,100,150,100,150,50,600
796,719,DiancieMega Diancie,Rock,Fairy,True,6,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,True,6,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,True,6,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,True,6,80,110,120,130,90,70,600

### Creating new updated data

In [6]:
df.to_csv('modified.csv')