## Loading Data Into Pandas

In [2]:
import pandas as pd

df = pd.read_csv('./../DataSet/pokemon_data.csv')
# df_tabs = pd.readcsv(''./../DataSet/pokemon_data.csv', delimiter='\t')

## Reading First 3 Lines of data

In [3]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

## Reading last 3 lines of data

In [4]:
df.tail(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [5]:
## read headers
print(df.columns)
print('-------------------------------------------------------\n')

## Read each Column
print(df['Name'][0:5])
print('-------------------------------------------------------\n')
print(df[['Name', 'Type 1', 'HP']])
print('-------------------------------------------------------\n')


## Read Each Row
print(df.head(4))
print('-------------------------------------------------------\n')


## Read a specific Location (Row,Column)
print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
-------------------------------------------------------

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object
-------------------------------------------------------

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]
-------------------------------------------------------

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
-------------------------------------------------------

Venusaur

## Getting Specific rows with For loop

In [6]:
for index, row in df.iterrows():
    print(index, row['Attack'])

0 49
1 62
2 82
3 100
4 52
5 64
6 84
7 130
8 104
9 48
10 63
11 83
12 103
13 30
14 20
15 45
16 35
17 25
18 90
19 150
20 45
21 60
22 80
23 80
24 56
25 81
26 60
27 90
28 60
29 85
30 55
31 90
32 75
33 100
34 47
35 62
36 92
37 57
38 72
39 102
40 45
41 70
42 41
43 76
44 45
45 70
46 45
47 80
48 50
49 65
50 80
51 70
52 95
53 55
54 65
55 55
56 80
57 45
58 70
59 52
60 82
61 80
62 105
63 70
64 110
65 50
66 65
67 95
68 20
69 35
70 50
71 50
72 80
73 100
74 130
75 75
76 90
77 105
78 40
79 70
80 80
81 95
82 120
83 85
84 100
85 65
86 75
87 75
88 35
89 60
90 65
91 85
92 110
93 45
94 70
95 80
96 105
97 65
98 95
99 35
100 50
101 65
102 65
103 45
104 48
105 73
106 105
107 130
108 30
109 50
110 40
111 95
112 50
113 80
114 120
115 105
116 55
117 65
118 90
119 85
120 130
121 5
122 55
123 95
124 125
125 40
126 65
127 67
128 92
129 45
130 75
131 45
132 110
133 50
134 83
135 95
136 125
137 155
138 100
139 10
140 125
141 155
142 85
143 48
144 55
145 65
146 65
147 130
148 60
149 40
150 60
151 80
152 115
153 105
154 135
155 110
156 85
157 90
158 100
159 64
160 84
161 134
162 110
163 190
164 150
165 100
166 49
167 62
168 82
169 52
170 64
171 84
172 65
173 80
174 105
175 46
176 76
177 30
178 50
179 20
180 35
181 60
182 90
183 90
184 38
185 58
186 40
187 25
188 30
189 20
190 40
191 50
192 75
193 40
194 55
195 75
196 95
197 80
198 20
199 50
200 100
201 75
202 35
203 45
204 55
205 70
206 30
207 75
208 65
209 45
210 85
211 65
212 65
213 85
214 75
215 60
216 72
217 33
218 80
219 65
220 90
221 70
222 75
223 85
224 125
225 80
226 120
227 95
228 130
229 150
230 10
231 125
232 185
233 95
234 80
235 130
236 40
237 50
238 50
239 100
240 55
241 65
242 105
243 55
244 40
245 80
246 60
247 90
248 90
249 95
250 60
251 120
252 80
253 95
254 20
255 35
256 95
257 30
258 63
259 75
260 80
261 10
262 85
263 115
264 75
265 64
266 84
267 134
268 164
269 90
270 130
271 100
272 45
273 65
274 85
275 110
276 60
277 85
278 120
279 160
280 70
281 85
282 110
283 150
284 55
285 90
286 30
287 70
288 45
289 35
290 70
291 35
292 50
293 30
294 50
295 70
296 40
297 70
298 100
299 55
300 85
301 30
302 50
303 25
304 35
305 65
306 85
307 30
308 60
309 40
310 130
311 60
312 80
313 160
314 45
315 90
316 90
317 51
318 71
319 91
320 60
321 120
322 20
323 45
324 45
325 65
326 75
327 85
328 85
329 105
330 70
331 90
332 110
333 140
334 40
335 60
336 100
337 45
338 75
339 75
340 50
341 40
342 73
343 47
344 60
345 43
346 73
347 90
348 120
349 140
350 70
351 90
352 60
353 100
354 120
355 85
356 25
357 45
358 60
359 100
360 70
361 100
362 85
363 115
364 40
365 70
366 110
367 115
368 100
369 55
370 95
371 48
372 78
373 80
374 120
375 40
376 70
377 41
378 81
379 95
380 125
381 15
382 60
383 70
384 90
385 75
386 115
387 165
388 40
389 70
390 68
391 50
392 130
393 150
394 23
395 50
396 80
397 120
398 40
399 60
400 80
401 64
402 104
403 84
404 90
405 30
406 75
407 95
408 135
409 145
410 55
411 75
412 135
413 145
414 100
415 50
416 75
417 80
418 100
419 90
420 130
421 100
422 150
423 150
424 180
425 150
426 180
427 100
428 150
429 180
430 70
431 95
432 68
433 89
434 109
435 58
436 78
437 104
438 51
439 66
440 86
441 55
442 75
443 120
444 45
445 85
446 25
447 85
448 65
449 85
450 120
451 30
452 70
453 125
454 165
455 42
456 52
457 29
458 59
459 79
460 69
461 94
462 30
463 80
464 45
465 65
466 105
467 35
468 60
469 48
470 83
471 100
472 50
473 80
474 66
475 76
476 136
477 60
478 125
479 55
480 82
481 30
482 63
483 93
484 24
485 89
486 80
487 25
488 5
489 65
490 92
491 70
492 90
493 130
494 170
495 85
496 70
497 110
498 145
499 72
500 112
501 50
502 90
503 61
504 106
505 100
506 49
507 69
508 20
509 62
510 92
511 132
512 120
513 70
514 85
515 140
516 100
517 123
518 95
519 50
520 76
521 110
522 60
523 95
524 130
525 80
526 125
527 165
528 55
529 100
530 80
531 50
532 65
533 65
534 65
535 65
536 65
537 75
538 105
539 125
540 120
541 120
542 90
543 160
544 100
545 120
546 70
547 80
548 100
549 90
550 100
551 103
552 120
553 100
554 45
555 60
556 75
557 63
558 93
559 123
560 55
561 75
562 100
563 55
564 85
565 60
566 80
567 110
568 50
569 88
570 53
571 98
572 53
573 98
574 53
575 98
576 25
577 55
578 55
579 77
580 115
581 60
582 100
583 75
584 105
585 135
586 45
587 57
588 85
589 135
590 60
591 60
592 80
593 105
594 140
595 50
596 65
597 95
598 100
599 125
600 53
601 63
602 103
603 45
604 55
605 100
606 27
607 67
608 35
609 60
610 92
611 72
612 82
613 117
614 90
615 140
616 30
617 86
618 65
619 95
620 75
621 90
622 58
623 30
624 50
625 78
626 108
627 112
628 140
629 50
630 95
631 65
632 105
633 50
634 95
635 30
636 45
637 55
638 30
639 40
640 65
641 44
642 87
643 50
644 65
645 95
646 60
647 100
648 75
649 75
650 135
651 55
652 85
653 40
654 60
655 75
656 47
657 77
658 50
659 94
660 55
661 80
662 100
663 55
664 85
665 115
666 55
667 75
668 30
669 40
670 55
671 87
672 117
673 147
674 70
675 110
676 50
677 40
678 70
679 66
680 85
681 125
682 120
683 74
684 124
685 85
686 125
687 110
688 83
689 123
690 55
691 65
692 97
693 109
694 65
695 85
696 105
697 85
698 60
699 90
700 129
701 90
702 115
703 100
704 115
705 105
706 120
707 150
708 125
709 145
710 130
711 170
712 120
713 72
714 72
715 77
716 128
717 120
718 61
719 78
720 107
721 45
722 59
723 69
724 56
725 63
726 95
727 36
728 56
729 50
730 73
731 81
732 35
733 22
734 52
735 50
736 68
737 38
738 45
739 65
740 65
741 100
742 82
743 124
744 80
745 48
746 48
747 48
748 80
749 110
750 150
751 50
752 52
753 72
754 48
755 80
756 54
757 92
758 52
759 105
760 60
761 75
762 53
763 73
764 38
765 55
766 89
767 121
768 59
769 77
770 65
771 92
772 58
773 50
774 50
775 75
776 100
777 80
778 70
779 110
780 66
781 66
782 66
783 66
784 90
785 85
786 95
787 100
788 69
789 117
790 30
791 70
792 131
793 131
794 100
795 100
796 160
797 110
798 160
799 110

## Finding pokemon with the most Attack Damage

In [7]:
m = 0
pokemon = list()
for index, row in df.iterrows():
    if m <= row['Attack']:
        m = row['Attack']
        pokemon = row

print("Name: ",  pokemon['Name'], "\nAttack: ", pokemon['Attack'])

Name:  MewtwoMega Mewtwo X
Attack:  190

## Giving specific types

In [8]:
df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## usefull things

In [12]:
## userful data analysis summary
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [14]:
df.sort_values("Name", ascending = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True